{% extends "base.html" %} {%load static%} {%block title%}Login {%endblock%} {%block navbar%} {%endblock%} {% block content %} {% if form.errors %}

<div class="container s9 center">
    <p style="color: #d31f1f">Your username and password didn't match. Please try again.</p>
    {% endif %} {% if next %} {% if user.is_authenticated %}
    <p style="color: #d31f1f">Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
    {% else %}
    <p style="color: #d31f1f">Please login to see this page.</p>
    {% endif %} {% endif %}
</div>

<div class="container s9">
    <div class="col s6 card center">
        <div class="card-content">
            <h5 class="card-title center">ImmunoTrak Login</h5>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.username }}</td>
                    </tr>

                    <tr>
                        <td>{{ form.password.label_tag }}</td>
                        <td>{{ form.password }}</td>
                    </tr>
                </table>
                <div class="card-action row s6 center ">
                    <input class="button btn center" type="submit" value="login" />
                    <input type="hidden" name="next" value="{{ next }}" />
                    <br>
                    <br>
                    <p><a href="{% url 'password_reset' %}">Lost password? Click here to reset.</a></p>
                </div>
            </form>

            {%block footer%} {%endblock%}
        </div>
    </div>
</div>
{% endblock %}