.div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

.button {
    display: block;
    max-width: 300px;
    margin: auto;
}