html {
    font-size: 14px;
}

body {
    font-family: 'Montserrat';
    background-color: white;
    margin: 0;
    font-size: 100%;
}

.btn {
    border-radius: 100px;
    padding: 0 26px;
}

.mg {
    margin-top: 50px;
}


/* icon syling */

a.fas,
a.fab {
    border: 1px solid white;
    color: white;
}