/* Coolors Exported Palette - coolors.co/f6fefd-ff342d-51d132-630b3a-551b2e */

/* HSL */
$color1: hsla(173%, 80%, 98%, 1);
$color2: hsla(2%, 100%, 59%, 1);
$color3: hsla(108%, 63%, 51%, 1);
$color4: hsla(328%, 80%, 22%, 1);
$color5: hsla(340%, 52%, 22%, 1);

/* RGB */
$color1: rgba(246, 254, 253, 1);
$color2: rgba(255, 52, 45, 1);
$color3: rgba(81, 209, 50, 1);
$color4: rgba(99, 11, 58, 1);
$color5: rgba(85, 27, 46, 1);