{%load static%}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <title>
        ImmunoTrak:: Real-time statistics
    </title>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> {%block extrahead%}{%endblock%}
    <meta content="#006064" name="theme-color">

</head>

<body class="body">
    <nav class="cyan darken-4">
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="left">
                <li>
                    <a href="#" class="fa fa-bars fa-2x"></a>
                    <!--options-->
                </li>
            </ul>
            <a href="/home" class="brand-logo center">ImmunoTrak</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="/register" class="fa fa-user-md fa-2x"></a>
                </li>
                <li>
                    <a href="/locations" class="fa fa-hospital fa-2x"></a>
                </li>
                <li>
                    <a href="/charts" class="fa fa-chart-line fa-2x"></a>
                </li>
                <li>
                    <a href="/schedule" class="fa fa-calendar-check fa-2x"></a>
                </li>
            </ul>
            <ul class="right">
                <li>
                    <a href="/admin" class="fa fa-cogs fa-2x "></a>
                </li>
            </ul>
        </div>
    </nav>
    {%block content%} replace this {%endblock%}

    <script src="https://use.fontawesome.com/f204f9e510.js "></script>
</body>
<footer class="page-footer cyan darken-4 ">
    <div class="container ">
        <div class="row ">
            <div class="col l6 s12 ">
                <!-- <p class="grey-text text-lighten-4 ">!insert social media and other related links!</p> -->
                <div class="row s6 ">
                    <h6 class="white-text ">Connect With Us:</h6>
                    <a class="fa fa-github fa-2x " href="https://github.com/ogaroh "></a>
                    <a class="fa fa-twitter fa-2x " href="# "></a>
                    <a class="fa fa-google fa-2x " href="# "></a>
                    <a class="fa fa-whatsapp fa-2x " href="# "></a>
                    <a class="fa fa-instagram fa-2x " href="# "></a>
                </div>
            </div>
            <div class="col l4 offset-l2 s12 ">
                <h6 class="white-text ">Quick Links</h6>
                <ul>
                    <li><a class="grey-text text-lighten-3 " href="/charts ">Charts & Statistics</a></li>
                    <li>
                        <a class="grey-text text-lighten-3 " href="/about ">About ImmunoTrak</a></li>
                    <li><a class="grey-text text-lighten-3 " href="/contact ">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright ">
        <div class="container ">
            © 2019 Erick Ogaro
            <a class="grey-text text-lighten-4 right " href="https://ogaroh.github.io ">Contact the developer</a>
        </div>
    </div>
</footer>

</html>