{%extends 'base.html'%} {%load static%} {%block content%}

<head>
    <link rel="stylesheet" href="{% static '/css/Chart.css' %}">
</head>

{%block jquery%}
<script>
    var endpoint = '/api/chart/data/'
    var defaultData = []

    $.ajax({
        method: 'GET',
        url: endpoint,
        success: function(data) {
            console.log(data)
            console.log(data.vaccines * 1000)
        },
        error: function(error_data) {
            console.log('error')
            console.log(error_data)
        }
    })
</script>
{%endblock%}

<body class="body">
    <div class="container s12 center">
        <h5 class="card-title brand-logo center">
            Charts and Statistics
        </h5>
        <div class="row">
            <div class="col s12">
                <ul class="tabs tabs-fixed-width z-depth-1">
                    <li class="tab col s3 waves-effect waves-heavy"><a class="active" href="#chart1">Chart 1</a></li>
                    <li class="tab col s3 waves-effect waves-heavy"><a class="active" href="/chart">Chart 2</a></li>
                    <li class="tab col s3 waves-effect waves-heavy"><a class="active" href="#chart3">Chart 3</a></li>
                    <li class="tab col s3 waves-effect waves-heavy"><a class="active" href="#chart4">Chart 4</a></li>
                    <li class="tab col s3 waves-effect waves-heavy"><a class="active" href="#chart5">Chart 5</a></li>
                </ul>
            </div>
            <div id="chart1" class="row s12" url-endpoint='{% url "api-data"%}'>
                <p class="col s2">
                    Chart 1
                </p>
                <div class="col s10">
                    <canvas id="chart1" width="1000" height="700"></canvas>
                </div>
            </div>
            <div id="chart2" class="col s12">
                <p class="col s2">
                    Chart 2
                </p>
                <div class="col s10">
                    <canvas id="chart2" width="1000" height="700"></canvas>
                </div>
            </div>
            <div id="chart3" class="col s12">
                <p class="col s2">
                    Chart 3
                </p>
                <div class="col s10">
                    <canvas id="chart3" width="1000" height="700"></canvas>
                </div>
            </div>
            <div id="chart4" class="col s12">
                <p class="col s2">
                    Chart 4
                </p>
                <div class="col s10">
                    <canvas id="chart4" width="1000" height="700"></canvas>
                </div>
            </div>
            <div id="chart5" class="col s12">
                <p class="col s2">
                    Chart 5
                </p>
                <div class="col s10">
                    <canvas id="chart5" width="1000" height="700"></canvas>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static '/js/Chart.min.js' %}">
    </script>
    <script>
        $(document).ready(function() {
            $('.tabs').tabs();
            var instance = M.Tabs.getInstance(elem);
            instance.updateTabIndicator();
        });
    </script>
</body>

{%endblock%}