{%extends 'base.html'%} {%load static%} {%block content%}

<head>
    <link rel="stylesheet" href="{% static '/css/Chart.css' %}">
</head>
<div class="row s12">
    <div class="col s6">
        <canvas id="vaccines" width="550" height="500"></canvas>
    </div>
</div>
<script src="{% static '/js/Chart.min.js' %}"></script>
<script>
    var ctx = document.getElementById('vaccines').getContext('2d');
    var vaccines = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Measles', 'Polio', 'Tetanus', 'Chickenpox', 'Meningitis', 'Yellow Fever', 'Influenza'],
            datasets: [{
                label: 'Number of vaccines administered',
                data: [200, 400, 300, 50, 70, 200, 145],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 99, 152, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
{%endblock%}