{%extends 'base.html'%} {%block content%}
<div class="container row s12">
    <div class="col s6 text-align right center">
        <p>
            The ImmunoTrak Project is dedicated towards ensuring as many children in Kenya get vaccinated. This is in conjuction with the government's effort to reduce the number of child mortality cases due to some killer diseases that could have otherwise been
            prevented.
        </p>
        <p>
            This chart shows a summary of all the vaccines administered since the start of the program. This information is synchronously fetched and updated upon new vaccination cases. The platform is still under development.
        </p>
    </div>
    <div class="col s6">
        <canvas id="vaccines" width="300" height="250"></canvas>
    </div>
</div>
<script>
    var ctx = document.getElementById('vaccines').getContext('2d');
    var vaccines = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Measles', 'Polio', 'Tetanus', 'Chickenpox', 'Meningitis', 'Yellow Fever', 'Influenza'],
            datasets: [{
                label: 'Number of vaccines administered',
                data: [200, 400, 300, 50, 70, 200, 145],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 99, 132, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 99, 132, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script> {%endblock%}