{%extends 'base.html'%} {%block title%}ImmunoTrak | Home{%endblock%} {%block content%} {%load static%}

<head>
    <link rel="stylesheet" href="{% static '/css/Chart.css' %}">
</head>

<style>
    .chart-border {
        border-bottom: 5px solid;
        border-radius: 4px;
        border-color: #006064;
    }
    
    .p-border {
        border-right: 6px solid;
        border-color: #006064;
        border-radius: 4px;
    }
</style>

<body class="body">
    <div class="row s12">
        <div class="col s6 chart-border">
            <br>
            <hr>
            <h5 class="flow-text"> Vaccines administered </h5>
            <hr>
            <!-- chart showing vaccines and numbers -->
            <canvas id="vaccines" width="550" height="360"></canvas>
        </div>
        <div class="col s6 text-align justified">
            <!-- description -->
            <div class="p-border">
                <p>
                    The ImmunoTrak Project is dedicated towards ensuring as many children in Kenya get vaccinated. This is in conjuction with the government's effort to reduce the number of child mortality cases due to some killer diseases that could have otherwise been
                    prevented.
                </p>
                <p>
                    This chart shows a summary of all the vaccines administered since the start of the program. This information is synchronously fetched and updated upon new vaccination cases. The platform is still under development.
                </p>
                <hr>
            </div>
            <h5 class="flow-text">Available Vaccines</h5>
            <div class="p-border">
                <hr> {% block vaccine_list %} {% for vaccine in object_list %}
                <p>
                    {{ vaccine.name }}
                </p>
                {% endfor %} {% endblock %}
            </div>
        </div>
        <script src="{% static '/js/Chart.min.js' %}"></script>
        <script>
            var ctx = document.getElementById('vaccines').getContext('2d');
            var vaccines = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Measles', 'Polio', 'Tetanus', 'Chickenpox', 'Meningitis', 'Yellow Fever', 'Influenza'],
                    datasets: [{
                        label: 'Number of vaccines administered',
                        data: [200, 400, 300, 50, 70, 200, 145],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 99, 152, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>
</body>{%endblock%}