{%extends 'base.html'%} {%load static%} {% block content %}
<div class="row">
    <div class="col s12 m6">
        <div class="card">
            <div class="card-image">
                <img src="{% static '/images/hospital.jpg'%}">
                <span class="card-title">Add new Location</span>
                <a class="btn-floating halfway-fab waves-effect waves-light"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
                <!-- <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p> -->
                <p>Insert the Location's Details Below:</p>
                <form action="/locations/" method="POST">
                    {% csrf_token %}
                    <label for="county">County Name: </label>
                    <input id="county" type="text" name="county" value="{{ county }}">

                    <label for="code">County Code: </label>
                    <input id="county" type="number" name="code" value="{{ code }}">

                    <div class="card-action">
                        <input class="button btn center" type="submit" value="Add" />
                        <input type="hidden" name="next" value="{{ next }}" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock%}