{%extends 'base.html'%} {%block content%} {%block medical%}
<div class="row s12">
    <div class="container col s6 center">
        <div class="card blue-grey darken-3 white-text">
            <p class="card-title">Nurses</p>
            <div class="card-content">
                <p> Please choose appropriate action</p>
                <div class="card-action">
                    <a href="/">Vaccination</a>
                    <a href="/schedule/">Schedules</a>
                    <a href="/about">Others</a>
                    <a href="">Account</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container col s6 center">
        <div class="card blue-grey darken-3 white-text">
            <p class="card-title">Children In Database</p>
            <div class="card-content">
                {% block children_list %} {% for child in object_list %}
                <p>
                    {{ child.first_name}} {{ child.last_name}} Gender: {{ child.gender }}
                    <hr>
                </p>
                {% endfor %}
                <div class="card-action">
                    <a href="">Edit Information</a>
                    <a href="">Refresh</a>
                    <a href="">Parents</a>
                </div>
                {% endblock %}
            </div>
        </div>
    </div>

</div>{%endblock%}
<hr>
<br>
<div class="container row s12 center">
    <div class="col s3">
        <a class="btn waves-effect waves-heavy btn-large" href="/home/"><i class="fas fa-home left"></i>Home</a>
    </div>

    <div class="col s3">
        <a class="btn waves-effect waves-heavy btn-large" href="/charts/"><i class="fas fa-chart-line left"></i>Statistics</a>
    </div>

    <div class="col s3">
        <a class="btn waves-effect waves-heavy btn-large" href="register/"><i class="fas fa-notes-medical left"></i>Registration</a>
    </div>

    <div class="col s3">
        <a class="btn waves-effect waves-heavy btn-large" href="../"><i class="fas fa-angle-left left"></i>Back</a>
    </div>

</div>{%endblock%}