{% extends 'base_1.html' %}
{% block content %}
<div class="row center">
    <hr>
    <h1>TABLES</h1>
    <hr>

    <div class="container center">
        <div class="col-sm-12">
            <h4>
                All Parents
            </h4>
            <table>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone Number</th>
                </tr>

                {% for parent in object_list %}
                <tr>
                    <td>{{ parent.first_name }}</td>#
                    <td>{{ parent.last_name }}</td>
                    <td>{{ parent.phone_number }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}