{%extends 'base.html'%} {%load static%} {%block content%}

<body>
    <div class="container row s9">
        <div class="card">
            <form class="card-content col s12">
                <span class="card-title">Child Registration Form</span>
                <!-- child details -->
                <div class="row">
                    <p>
                        Child Details:
                    </p>
                    <div class="input-field col s3">
                        <i class="prefix fas fa-child"></i>
                        <input placeholder="John" id="first_name" type="text" class="validate">
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s3">
                        <input placeholder="Duffy" id="middle_name" type="text" class="validate">
                        <label for="middle_name">Middle Name</label>
                    </div>
                    <div class="input-field col s3">
                        <input placeholder="Doe" id="last_name" type="text" class="validate">
                        <label for="last_name">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <i class="prefix fas fa-calendar-day"></i>
                        <input id="dob" type="date" class="datepicker">
                        <label for="dob">Date Of Birth</label>
                    </div>
                    <div class="col s3">
                        <div class="input-field">
                            <i class="prefix fas fa-venus-mars"></i>
                            <select>
                                <option value="Male" selected>Male</option>
                                <option value="Female">Female</option>
                            </select>
                            <label>Gender</label>
                        </div>
                    </div>
                </div>

                <!-- parent details -->
                <div class="row s6">
                    <p>
                        Parent Details:
                    </p>
                </div>
                <div class="row">
                    <div class="input-field col s3">
                        <i class="prefix fas fa-user"></i>
                        <input placeholder="Jane" id="first_name" type="text" class="validate">
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s3">
                        <input placeholder="Dilly" id="middle_name" type="text" class="validate">
                        <label for="middle_name">Middle Name</label>
                    </div>
                    <div class="input-field col s3">
                        <input placeholder="Doe" id="last_name" type="text" class="validate">
                        <label for="last_name">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s5">
                        <i class="prefix fas fa-phone"></i>
                        <input id="phone" type="tel" class="">
                        <label for="phone">Phone Number</label>
                    </div>
                    <div class="col s4">
                        <div class="input-field">
                            <i class="prefix fas fa-fingerprint"></i>
                            <input id="id_number" type="number" class="">
                            <label for="id_number">ID Number</label>
                        </div>
                    </div>
                </div>

                <!-- submit -->
                <div class="">
                    <!-- submit button -->
                    <a class="waves-effect waves-heavy btn-small pink darken-4"><i class="fas fa-angle-right right"></i>Submit</a>

                </div>
            </form>
        </div>
    </div>
    <script>
        // Or with jQuery

        $(document).ready(function() {
            $('.datepicker').datepicker();
        });
    </script>
</body>
{%endblock%}